#root {
  margin: 0 auto;
}

.profile-dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out;
}

.profile-dropdown .dropdown-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out;
  pointer-events: auto;
}

.border-primary {
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}